@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins/box-shadow";
@import "~bootstrap/scss/mixins/buttons";
@import "~bootstrap/scss/mixins/hover";
@import "~bootstrap/scss/mixins/gradients";
@import "~bootstrap/scss/variables";
body {
    font-weight: 300;
    -webkit-font-smoothing: antialiased
}

h2 {
    text-align: center;
    font-weight: 300;
}

.btn-social-icon {
    margin-right: .25rem;
    margin-bottom: .25rem;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    border-radius: 0;
    background-image: linear-gradient(138deg, #320F5F 0%, #8A50DA 100%);
    & .container {
        padding: {
            top: 2rem;
            bottom: 2rem;
        }
        h1 {
            margin-bottom: 15px;
            font-weight: 300;
            letter-spacing: -1px;
            color: #fff
        }
    }
    .jumbotron-links {
        margin-top: 15px;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        font-size: 14px
    }
    .jumbotron-links li {
        display: inline
    }
    .jumbotron-links li+li {
        margin-left: 20px
    }
    .bottom {
        padding: 1.25rem;
        background-color: rgba(0, 0, 0, 0.2)
    }
    .btn-outline-primary {
        margin-bottom: .25rem;
        min-width: 20ch;
        @include button-outline-variant(theme-color("light"));
    }
}

.jumbotron p a,
.jumbotron .jumbotron-links a {
    font-weight: 500;
    color: #fff
}

.how-to {
    padding: 20px
}

.how-to h2 {
    text-align: center
}

.how-to li {
    font-size: 21px;
    line-height: 1.7;
    margin-top: 20px
}

.how-to li p {
    font-size: 16px;
    color: #555
}

.how-to code {
    font-size: 85%;
    word-wrap: break-word;
    white-space: normal
}

footer {
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(138deg, #320F5F 0%, #8A50DA 100%);
}

footer a {
    color: #fff
}

footer a:hover {
    color: #fff
}

.links {
    margin: 0;
    list-style: none;
    padding-left: 0
}

.links li {
    display: inline;
    padding: 0 10px
}

.social-class code,
.social-class .social-hex {
    font-size: $font-size-sm;
}

.social-class .social-hex {
    font-family: $font-family-monospace;
    float: right;
    color: $text-muted !important;
}

.social-class li {
    margin-bottom: 4px
}

.social-class li:hover .social-hex {
    opacity: 1
}

.social-class li:hover code {
    background-color: #e8e8ee
}

.social-class code {
    cursor: default
}

.github-corner svg {
    position: absolute;
    right: 0;
    top: 0;
    mix-blend-mode: color-dodge;
    color: #000;
    fill: #fff;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave .56s;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-20deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
